/*
 * see https://developer.myscript.com/docs/interactive-ink/latest/reference/styling for styling reference
 */

glyph {
  /* Font family must be aligned with the key used to register the corresponding Typeface in typeface map */
  font-family: SYMBOLA;
}

.math {
  /* Font family must be aligned with the key used to register the corresponding Typeface in typeface map */
  font-family: SYMBOLA;
}

.math-variable {
  font-style: normal;
}